{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Files</h1>
<ul class="list-group list-group-flush" id="files">
       {% for file in user.files %}
       <li class="list-group-item">
       <div class="form-group mb-2">
       {{ file.file_name }}
       </div>

              <button class="close" type="button" data-toggle="collapse" data-target="#collapseExample"  aria-controls="collapseExample">
              <span aria-hidden="true">&rAarr;</span>
              </button>

              <div class="collapse" id="collapseExample">
              <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="username" placeholder="Username">
              </div>
              <button type="button" class="btn btn-primary" onclick="deleteFile({{ file.id }},2)">
              <span aria-hidden="true">Share File</span>
              </button>
              </div>

              <button type="button" class="close" onclick="deleteFile({{ file.id }},3)">
              <span aria-hidden="true">&dArr;</span>
              </button>
              <button type="button" class="close" onclick="deleteFile({{ file.id }},1)">
              <span aria-hidden="true">&times;</span>
              </button>
       </li>
       {% endfor %}
</ul>
<form method="POST" enctype="multipart/form-data">
       <p>
       <input type="file" name="files[]" multiple="true" autocomplete="off" required>
       </p>
       </dl>
       <p>
       <input type="submit" value="Submit">
       </p>
</form>
{% endblock %}